<navigator></navigator>
<div id="mainContent" class="container-fluid">
	<div class="row">

		<h1 ng-show="vm.currentUserId">Welcome!</h1>
		<div class="col-sm-6 col-md-4" ng-hide="vm.currentUserId">
			<div class="thumbnail">
				<!-- <img src="..." alt="...">
				<div class="caption"> -->
				<br>
				<h3>Login</h3>
				<login></login>
				<h3>Register</h3>
				<button class="btn btn-primary" ng-click="vm.goToRegister()">Go Register</button>
				<br> <br>
			</div>
		</div>




		<!-- repeatable section -->
		<div class="col-sm-6 col-md-4" ng-show="vm.currentUserId">
			<div class="thumbnail">
				<!-- <img src="..." alt="...">
				<div class="caption"> -->
				<br>
				<h3>Profile Info</h3>
				<p>
					Username: {{vm.currentUser.profile.name}}<br> City:
					{{vm.currentUser.profile.city}}<br>
				<p>
					<a href="#" class="btn btn-primary" role="button">Button</a>
					<a href="#" class="btn btn-secondary" role="button">Button</a>
				</p>
				<br> <br>
			</div>
		</div>
		<div class="col-sm-6 col-md-4" ng-show="vm.currentUserId">
			<div class="thumbnail" ng-controller="chart1 as vm">
			<h1>{{vm.title}}</h1>
  <canvas id="pie" class="chart chart-pie"
    chart-data="vm.data" chart-labels="vm.labels" chart-options="options">
  </canvas>
			
			</div>
		</div>

	</div>
</div>
<div ng-show="vm.currentUserId"></div>
</div>