<navigator></navigator>
<div id="mainContent" class="container-fluid">
<div style="width: 100%; height: 40px;"></div>
	<div class="row">
	
			<!-- repeatable section -->
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<!-- <img src="..." alt="...">
                <div class="caption"> -->
				<br>
				<h2>Edit Profile</h2>
					<form>
						<input type="text" placeholder="userName" ng-model="vm.editProfile.name" /><br>
						<input type="text" placeholder="birthYear" ng-model="vm.editProfile.birthYear" /><br>
						<input type="text" placeholder="city" ng-model="vm.editProfile.city" /><br>
						Gender: <select name="gender" ng-model="vm.editProfile.gender">
							<option>M</option>
							<option>F</option>
						</select>
							<br>
						<input type="text" placeholder="region" ng-model="vm.editProfile.region" /><br> 
						<input type="text" placeholder="education" ng-model="vm.editProfile.edu" /><br>
						<input type="text" placeholder="country" ng-model="vm.editProfile.country" /><br>
						<input type="text" placeholder="houseHoldIncome" ng-model="vm.editProfile.householdIncome" /><br>
									<!-- get user id from session -->
						<input type="submit" class="btn-primary btn" value="Create Profile" ng-hide="vm.profileExists(user)" ng-disabled="vm.invalid(vm.editProfile)" ng-click="vm.saveUserProfile(vm.editProfile)" />
						<input type="submit" class="btn-primary btn" value="Update Profile" ng-show="vm.profileExists(user)" ng-click="vm.updateUserProfile(vm.editProfile)" />
					</form>
				<br> <br>
			</div>
		</div>
	</div>
</div>
	
