<navigator></navigator>

<div class=""
	<div class="col-sm-12 col-md-12" style="height: 60px;"></div>
	<div class="col-sm-1 col-md-2"></div>
	<div class="col-sm-10 col-md-8">
		<div id="mosloginbox" class="thumbnail"">
		<div style="float: left; width: 30%;">
		</div>
		<p>
			<form ng-hide="vm.editRegisterForm">
				Email: <input type="text" placeholder="email" ng-model="registerUser.email"
					required />
					<br>
				Password: <input type="password" placeholder="password(4 or more characters)"
					ng-model="registerUser.password" required />
					<br>
				Confirm Password: <input type="password" placeholder="confirm password"
					ng-model="registerUser.confirm" required />
					<br>
				<button class="btn btn-primary" value="REGISTER"
					ng-disabled="vm.invalid(registerUser)"
					ng-click="vm.register(registerUser)">Register</button>
			</form>
			</p>
		</div>
	</div>
	<div class="col-sm-1 col-md-2" ng-hide="$root.currentUser.id"></div>
</div>