/* color scheme:
dark gray: #504E55
gold: #E4A835
dark blue: #143D4C
light gray: #796F70
orange: #F07F00
 */

body {
     background: linear-gradient(to bottom, #143D4C, #111);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
	font-size: calc(0.5em + 4vmin);
	font-family: "Spectral", "Cormorant Garamond", serif;
	color: #EEE;
}

p, p>a {
	font-size: calc(0.5em + 2vmin);
	font-family: "Montserrat", "Lato", "Open Sans", sans-serif;
	color: #EEE;
}

.navbar * {
	font-size: calc(0.5em + 1vmin);
	font-family: "Spectral", "Cormorant Garamond", serif;
	color: #EEE;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.thumbnail * {
	text-align: center;
	color: #143D4C;
}

button, .btn-primary {
	background: #143D4C;
	border: #143D4C;
	color: #EEE;
}

.btn-secondary {
	background: #504E55;
	border: #504E55;
	color: #EEE;
}

.btn:hover {
	background: #796F70;
	border: #E4A835;
	color: #EEE;
}