/* body {
	font-size: calc(1em + 1vmin);
	font-family: "Montserrat", "Lato", "Open Sans", sans-serif;
} */

nav {
	font-size: calc(1em + 1vmin);
	font-family: "Spectral", "Cormorant Garamond", serif;
}

h1, h2, h3, h4, h5, h6 {
	font-size: calc(1em + 4vmin);
	font-family: "Spectral", "Cormorant Garamond", serif;
}

p, p>a {
	font-size: calc(1em + 2vmin);
	font-family: "Montserrat", "Lato", "Open Sans", sans-serif;
}

nav {
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}