<navigator></navigator>
<div id="mainContent" class="container-fluid">
	<div class="col-sm-12 col-md-12" ng-show="vm.activeGame">
		<div class="thumbnail">
			<!-- <img src="..." alt="...">
                <div class="caption"> -->
			<br>
			<nback ng-if="vm.activeGame.name === 'nback'"></nback>
			<motest ng-if="vm.activeGame.name === 'motest'"></motest>
			<position ng-if="vm.activeGame.name === 'position'"></position>
			<reaction ng-if="vm.activeGame.name === 'reaction'"></reaction>
			<br>
		</div>
	</div>
	


	<!-- repeatable section -->
	<div class="col-sm-6 col-md-4" ng-repeat="thisGame in vm.gameList">
		<div class="thumbnail">
			<!-- <img src="..." alt="...">
                <div class="caption"> -->
			<br>
			<h3>{{thisGame.name}}</h3>
			<p>
				diff:
				<select name="gameDifficulty" ng-model="$root.gameDifficulty">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
				</select>

				<input type="submit" value="play!" class="btn btn-primary" ng-click="vm.activateGame(thisGame)"/>
			</p>
			<br>
			<p>{{thisGame.description}}</p>

			<br>
		</div>
	</div>

</div>