<div id="mainContent" class="container-fluid">
	<h2>MO Test</h2>
	<p>Test your ability to remember a sequence of letters
	<div id="gameContainer" class="container-fluid">

		<button class="btn btn-primary" ng-click="vm.startGame()"
			ng-disabled="vm.disableStart">start game!</button>

		<br>


		<div ng-show="vm.showLets">
			<h5>What are the letters of the sequence, in order?</h5>
			<br> {{vm.countdownTimer}}
			<h1>
				<center>{{vm.showLetters}}</center>
			</h1>

		</div>



		<div ng-show="vm.userTurn">
			<h5>What are the letters of the sequence, in order?</h5>
			<form>
				<input type="text" style="width: 26em;"
					placeholder="Write sequence of letters here!"
					ng-model="vm.userInput" />
				<br /> Use '?' for unknown letters. (DON'T enter any spaces) <br />
				<input type="submit" value="Get Score!"
					ng-click="vm.addResults(vm.userInput)" class="btn btn-primary" />
			</form>
		</div>

		<div ng-show="vm.gameComplete || inputArr.length > 0">
			<p>Points: {{vm.points}}</p>
			<p>Correct: {{vm.correctCount}}</p>
			<p>Incorrect: {{vm.incorrectCount}}</p>
		</div>

		<div ng-show="vm.gameComplete">
			<p>
				diff:
				<select name="gameDifficulty" ng-model="$root.gameDifficulty">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
				</select>
				<button class="btn btn-secondary" ng-click="vm.startGame()">Play
					Again!</button>
			</p>
		</div>


		<div>
			<ul>
				<li ng-repeat="error in vm.errors" ng-show="vm.errors.length > 0">{{error}}</li>
			</ul>
		</div>

		<br>
	</div>
</div>
