<div id="mainContent" class="container-fluid">
	<h2>MO Test</h2>
	<p>Test your ability to remember a sequence of letters

	<div id="gameContainer" class="container-fluid">
		<!-- here lies the game: -->
	    <span>{{vm.msg}}</span>
			<br>
		<!--That up there was the timer -->
	    <div ng-show="vm.hideLets">
	    <h1 ><center>  Test Rdm ARRAYYY ==> {{vm.showLetters}}</center></h1>
		<!--   <h2 ng-hide="vm.hideLetters">  {{vm.showLetters}}</h2>  -->
			
         </div>	

		
		<table>      <!-- table of numbers-->
 
  
   <!--  <tr ng-repeat="item in vm.getPracticeNums "  >    ng-class="vm.strike(item)"  
       <td>    Numbers?!? {{item}}</td>
    </tr>    -->
 </table>
 
 <form ng-hide="vm.selected">       <!--  hides the form if no results-->
      <h5>What are the letters of the sequence, in order?</h5>
     <input type="text" placeholder="Write sequence of letters here" />{{vm.countOfLettersNumbers}}<br />

     <input type="submit" value="Get Score" ng-click="vm.addItems(items); items ={}"/>
 </form>
 
 <!-- <p> <center>
		<table>      <!-- table of numbers-->
 
  
   <!--  <tr ng-repeat="item in vm.getPracticeNums "  >    ng-class="vm.strike(item)"  
       <td>    Numbers?!? {{item}}</td>
    </tr>    
 </table>

<p> <center>
<h3>F G X Q R P X A S M Q K<h3></center><p><hr>   -->
<br>
	</div>
</div>
