<div id="mainContent" class="container-fluid">
	<h2>Position Test</h2>
	<p>Test your ability to remember the position of objects on a board


	
	<div id="gameContainer" class="container-fluid">
		<!-- here lies the game: -->

		<button class="btn btn-primary" ng-click="vm.startGame()">start!</button>
	</div>
	<div>
		<div class="container">
			<div class="row">
				<div class="col align-self-start">One of three columns</div>
				<div class="col align-self-center">One of three columns</div>
				<div class="col align-self-end">One of three columns</div>
			</div>
		</div>
	</div>
</div>
