<div id="mainContent" class="container-fluid">
	<h2>Position Test</h2>
	<p>Test your ability to remember the position of objects on a board







	
	
	<div id="gameContainer" class="container-fluid">
		<!-- here lies the game: -->

		<button class="btn btn-primary" ng-click="vm.startGame()">start!</button>
		<div>
			<div class="container">
				<h1 ng-show="vm.hideNums">{{vm.randomNum}}</h1>
				<div>
					<table class="table table-striped table-border">
						<tbody>
							<tr ng-repeat="array in vm.grid">
								<td ng-repeat="num in array" ng-click="vm.guessNumber(num)">
									<div ng-show="vm.hideNums">X</div>
									<div ng-hide="vm.hideNums">{{num}}</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<br>
	</div>
</div>
