<div id="mainContent" class="container-fluid">
	<h2>Reaction Test</h2>
	<p>Test your ability to react to a specific stimulus
	
	<div id="gameContainer" class="container-fluid">
		<!-- here lies the game: -->
		<button class="btn btn-primary" ng-click="vm.startGame(1)">start reaction game!</button>
		<div>
			<span>{{vm.msg}}</span>
			<br>
			<span><h1><label ng-click="numberSelected(vm.showNumbers)">{{vm.showNumbers}}</label></h1></span>
			<span ng-hide="hideNumbers"><h3>Remember Numbers :{{vm.showList}}</h3></span>
		</div>
		<br>
	</div>
</div>
