<div id="mainContent" class="container-fluid">
	<h2>Reaction Test</h2>
	<p>Test your ability to react to a specific stimulus<p> 
	<br> 
	<p>Click on flashing numbers!</p>
	
	<div id="gameContainer" class="container-fluid" ng-show="gameStart">
		<!-- here lies the game: -->
		<button class="btn btn-primary" ng-click="vm.startGame(1)" ng-disabled="disableStart">start reaction game!</button>
		<div>
			<br>
			<span><h1><label ng-click="numberSelected(vm.showNumbers)">{{vm.showNumbers}}</label></h1></span>
			<span ng-hide="hideNumbers"><h3>Remember Numbers :{{vm.showList}}</h3></span>
		</div>
		<br>
	</div>
	<div id="resultsDisplay" class="container-fluid" ng-show="gameFinished">
            <p>Difficulty Level: {{$root.gameDifficulty}}</p>
            <p>Correct: {{vm.correct}}</p>
            <p>Incorrect: {{vm.incorrect}}</p>
            <p>Points: {{vm.points}}</p>
            <button class="btn btn-secondary" ng-click="vm.reStartGame()">Return</button>
	</div> 
</div>


